.cor-de-fundo {
    /* background-color: #008749 !important;  */
    /* background-color: #822A1B !important;  */
    /* background-color: #551A11 !important; */ 
    background-color: #222D32 !important; 
}

.imagem-de-fundo {
    background-repeat: no-repeat !important;
    background-image: url("/img/background_IFPE.jpg") !important;
    background-size: 100% 100% !important;
}